<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Hello World</h1>
    <p>This is a test file</p>
    <p>Your current attempt: {}</p> -->

    <form action="word" method="post">
        <p>Input your guess:</p>
        {% for message in get_flashed_messages()%}
        <p>  {{message}}</p>
        {% endfor %}
        <input type="text" name="guess">
        <input type="submit" value="Submit">
    </form>
</body>
</html>